<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Design web page</title>
  </head>
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script src="https://kit.fontawesome.com/a7c15ed8f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/styles.css">
    
  </head>

  <body>
    <!----------------------------CSS NAVBAR--------------  -->
    <nav class="topnav" style=" text-decoration: none;">
      <a href="/" style="float: left; margin-left: 10px; padding: 5px;">HOME</a>
      <div style="float:right; padding: 5px; margin: 3px;">
        <a href="/course">Add Courses</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </div>
      
    </nav>
    <!-------------------------Navbar section --------------------->
    
      <!-- <nav class="navbar navbar-light " style="background-color: #0066c8; color: white;">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navMenuBar" aria-controls="navMenuBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" style="color: white; font-family: monospace;">LuTECH</a>
          </div>
          <div class="collapse navbar-collapse" id="navMenuBar">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
              <li class="nav-item"><a class="nav-link" href="/course">ADD COURSES</a></li>
              <li class="nav-item"><a class="nav-link" href="#about">ABOUT</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">CONTACT</a></li>
              <li class="nav-item"><a class="nav-link" href="#more">MORE</a></li>
            </ul>
          </div>
      </nav> -->
    
    